extends ../layouts/default

block head
  title Accessible Times is Running

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.jumbotron
    h1 Accessible Times
    p.lead
      | Making Reading easier
      div
        a.btn.btn-primary.btn-lg(href='http://www.nytimes.com/2015/02/13/us/politics/fbi-director-comey-speaks-frankly-about-police-view-of-blacks.html', target="_blank") Sample NY Times Article
        |  or&nbsp;
        a.btn.btn-warning.btn-lg(href='/articles/one-two/', target="_blank") Accessible version of Article
  //-     div.clearfix
  //- div.row
  //-   div.col-sm-4
  //-     div.panel.panel-default
  //-       div.panel-body
  //-         h3 About Us
  //-         p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
  //-         a.btn.btn-default.btn-block(href='/about/') Learn More
  //-   div.col-sm-4
  //-     div.panel.panel-default
  //-       div.panel-body
  //-         h3 Sign Up
  //-         p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
  //-         a.btn.btn-default.btn-block(href='/signup/') Learn More
  //-   div.col-sm-4
  //-     div.panel.panel-default
  //-       div.panel-body
  //-         h3 Contact Us
  //-         p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
  //-         a.btn.btn-default.btn-block(href='/contact/') Learn More
