<h1>Listing articles</h1>

<table>
  <thead>
    <tr>
      <th>Headline</th>
      <th>Image</th>
    </tr>
  </thead>

  <tbody>
    <% @article_metadata.each do |article| %>
      <tr>
        <td><%= link_to article[:headline], "/articles/1" %></td>
        <td><%= image_tag "http://www.nytimes.com/#{article[:image]}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

