<p id="notice"><%= notice %></p>
<p>
	<%= image_tag @image_url %>
	<h1><%= @title %></h1>
	<%= @abstract %>
	<script language="javascript">

	</script>

	<audio id="ctrlaudio" autoplay>
    <source src='/assets/song1.mp3'></source>
	</audio>

<br>
</p>
