extends ../../layouts/default

block head
  title Accessible Times Article

block neck
  link(rel='stylesheet', href='/views/articles/index.min.css?#{cacheBreaker}')

block body
  div.content
    div.row
      div.col-sm-6
        div.page-header
          h1 F.B.I. Director Speaks Frankly About Police View of Blacks
        div.media
          h1 WASHINGTON — The F.B.I. director, James B. Comey, delivered an unusually candid speech on Thursday about the difficult
          h1 relationship between the police and African-Americans, saying that officers who work in neighborhoods where blacks 
          h1 commit crimes at a high rate develop a cynicism that shades their attitudes about race.
          h1 Citing the song “Everyone’s a Little Bit Racist” from the Broadway show “Avenue Q” he said police officers of all races viewed black and white men differently. 
          h1 In an address to students at Georgetown University, Mr. Comey said that some officers scrutinize African-Americans more closely using a mental shortcut that 
          h1 “becomes almost irresistible and maybe even rational by some lights” because black men are arrested at much higher rates than white men.
          h1 In speaking about racial issues at such length, Mr. Comey used his office in a way that none of his predecessors had. 
          h1 His remarks also went beyond what President Obama and Attorney General Eric H. Holder Jr. have said since an unarmed black teenager Michael Brown
          h1 was killed by a white police officer in Ferguson, Mo., in August.
          h1 Mr. Comey said that his speech, which was well received by law enforcement officials, was motivated by his belief that the country had not “had a healthy dialogue”
          h1 since the protests began in Ferguson and that he did not “want to see those important issues drift away.”
          h1 Previous F.B.I. directors had limited their public comments about race to civil rights investigations, like murders committed by the Ku Klux Klan 
          h1 and the bureau’s wiretapping of the Rev. Dr. Martin Luther King Jr. But Mr. Comey tried to dissect the issue layer by layer.
          h1 He started by acknowledging that law enforcement had a troubled legacy when it came to race.
          h1 “All of us in law enforcement must be honest enough to acknowledge that much of our history is not pretty,” he said. 
          h1 “At many points in American history, law enforcement enforced the status quo, a status quo that was often brutally unfair to disfavored groups.”
          h1 Mr. Comey said there was significant research showing that all people have unconscious racial biases. 
          h1 Law enforcement officers, he said, need “to design systems and processes to overcome that very human part of us all.”
          h1 “Although the research may be unsettling, what we do next is what matters most,” Mr. Comey said.
          h1 He said nearly all police officers had joined the force because they wanted to help others. Speaking in personal terms, 
          h1 Mr. Comey described how most Americans had initially viewed Irish immigrants like his ancestors “as drunks, ruffians and criminals.”
          h1 “Law enforcement’s biased view of the Irish lives on in the nickname we still use for the vehicle that transports groups of prisoners
          h1  it is, after all, the ‘Paddy wagon,’ ” he said.
          h1 But he said that what the Irish had gone through was nothing compared with what blacks had faced.
          h1 “That experience should be part of every American’s consciousness, and law enforcement’s role in that experience, including in recent times
          h1 must be remembered,” he said. “It is our cultural inheritance.”
          h1 Unlike Mayor Bill de Blasio of New York and Mr. Holder, who were roundly faulted by police groups for their critical remarks about law enforcement
          h1 Mr. Comey, a former prosecutor whose grandfather was a police chief in Yonkers, was praised for his remarks.
          h1 Ron Hosko, the president of the Law Enforcement Legal Defense Fund and a former senior F.B.I. official, said that while Mr. Holder’s statements
          h1 about policing and race after the Ferguson shooting had placed the blame directly on the police, Mr. Comey’s remarks were far more nuanced and thoughtful.
          h1 “He looked at all the sociological pieces,” Mr. Hosko said. “The director’s comments were far more balanced, because it wasn’t just heavy-handed on the cops.”
          h1 Mr. Comey said the police had received most of the blame in episodes like the Ferguson shooting and the death of an unarmed black man in Staten Island who was 
          h1 placed in a chokehold by an officer, but law enforcement was “not the root cause of problems in our hardest-hit neighborhoods.”
          h1 In many of those areas, blacks grow up “in environments lacking role models, adequate education and decent employment,” he said.
          h1 “It’s hard to hate up close,” he said.
          h1 He also recommended that law enforcement agencies be compelled, by legislation if necessary, to report shootings that involve police officers
          h1 and that those reports be recorded in an accessible database. When Mr. Brown was shot in Ferguson, Mr. Comey said, F.B.I. officials could not say
          h1 whether such shootings were common or rare because no statistics were available.
          h1 “It’s ridiculous that I can’t tell you how many people were shot by the police last week, last month, last year,” Mr. Comey said.
          h1 He added, “Without complete and accurate data, we are left with ideological thunderbolts.”
          h1 Ronald E. Teachman, the police chief in South Bend, Ind., said Mr. Comey did not need to take on the issue. 
          h1 But Chief Teachman said it would be far easier for him to continue the discussion in Indiana now that Mr. Comey had done so in such a public manner.
          h1 “It helps me move the conversation forward when the F.B.I. director speaks so boldly,” he said.
          h1 Mr. Comey concluded by quoting Dr. King, who said, “We must all learn to live together as brothers, or we will all perish together as fools.”
          h1 “We all have work to do — hard work to do, challenging work — and it will take time,” Mr. Comey said. 
          h1 “We all need to talk, and we all need to listen, not just about easy things, but about hard things, too. 
          h1 Relationships are hard. Relationships require work. So let’s begin. It is time to start seeing one another for who and what we really are.”

      div.col-sm-6.special
        div.page-header
          h2 The image below will be clickable
        p.lead making reading easier
        a.pressPlay
          i.fa.fa-volume-up.super-awesome
  div.test
    script(type='text/javascript').
      var elements = document.getElementsByTagName('h1')
      for (var i = 0; i < elements.length; i++) {
        elements[i].scrollIntoView(true)
        if (window.speechSynthesis !== undefined) {
          var text = elements[i].innerHTML
          var utterance = new SpeechSynthesisUtterance(text)
          console.log("Utterance Instance Text: " + text);
          speechUtteranceChunker(utterance, {chunkLength: 160}, function () {
            //some code to execute when done
            console.log('done')
          })
        }
      }

